body {background-color:#F5B041}
h1 {font-size:250px}
h1 {text-align:center}
h2 {text-align:justify;}
h2 {color:#ECF0F1}
h2 {text-decoration:underline;}
img {width:540px;height:600px}
p {text-align:justify;250px}
h4 {font-size:50px}
h4 {text-decoration:underline;}
h3 {text-decoration:underline;}
